<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>

<body>

    <main class="container">

        <div class="text-center">
            <h1>Atualiza Cientista</h1>
        </div>

        <form method="POST" action="/atualiza/cientista">

            <div class="form-group">
                <label for="id">Código</label>
                <input type="text" class="form-control" name="_id" id="id" required readonly value=<%=dados[0]._id %>>
            </div>

            <div class="form-group">
                <label for="nome">Nome do Cientista</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o nome" required
                    value="<%=dados[0].nome %>">
            </div>

            <div class="form-group">

                <label for="bio">Breve Biografia</label>
                <textarea class="form-control" name="biografia" id="bio" rows="3" required><%= dados[0].biografia %></textarea>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Cadastrar</button>
            <a href="/" class="btn btn-success">Início</a>

        </form>


    </main>

</body>

</html>